@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
.again-managemnet{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    align-items: center;
}
#header-hero{
    background-image: url(./images/header-bg.png);
    background-size: cover;
    width: 100%;
    height: 100vh;

}

#header-hero > nav{
    padding-top: 30px;
}

.logo > a{
    font-size: 2rem;
    text-decoration: none;
    font-weight: 900;
    color: #ec4c7a;
}
.logo > a > span{
    color: #f6ab31;
}

.nav-menu ul{
    display:flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li a{
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.1rem;
    color: #ec4c7a;
    font-weight: 600;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 5px;
}
.nav-menu ul li a:hover{
    color: white;
    background: #ec4c7a;
}

/* <!-- Header-Section --> */

.header-section{
    margin-top: 70px;
}

.header-left > h2{
    font-size: 2.8rem;
    font-weight: 400;
}

.header-left > h1{
    font-size: 4.4rem;
    color: #ec4c7a;
    font-weight: 800;
    margin: 5px 0;
}
.header-left > p{
    color: gray;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 50px;
}
.header-left > .header-left-btn > a{
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(236,79,144,1) 0%, rgba(237,78,115,1) 100%, rgba(0,212,255,1) 100%);
    padding: 12px 25px;
    border-radius: 5px; 
}
.header-right > img{
    max-width: 600px;
}

/* Biography */
#biography-hero{
    background-image: url(./images/biography-bg.png);
    width: 100%;
    height: 100vh;

}
.biography{
    padding-top: 100px;
}
.biography-left-content > img{
    max-width: 540px;
}
.biography-right-right{
    margin-left: 130px;
}
.biography-right-right > h2{
    font-size: 2.8rem;
    font-weight: 400;
}
.biography-right-right > p{
    font-size: 1.3rem;
    color: gray;
    margin: 50px 0;
}
.biography-right-right > .biography-right-btn > a{
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(236,79,144,1) 0%, rgba(237,78,115,1) 100%, rgba(0,212,255,1) 100%);
    padding: 15px 30px;
    border-radius: 5px; 
}

/* Services-section */

#service-hero{
    background-image: url(./images/latest-work-bg.png);
    width: 100%;
    height: 100vh;
}
#service-hero > h2{
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    padding: 150px;

}
.service-container{

}
.service-container > img{
    max-width: 450px;
    border-radius: 10px;
    box-shadow: -1px 1px 17px 1px rgba(217,217,217,0.75);
    -webkit-box-shadow: -1px 1px 17px 1px rgba(217,217,217,0.75);
    -moz-box-shadow: -1px 1px 17px 1px rgba(217,217,217,0.75);
}

/* Details-Section */

#details-hero{
    background-image: url(./images/footer-bg.png);
    width: 100%;
    height: 100vh;
    margin-top: -70px;
}
.details-container {
    padding-top: 160px;
}
.details-container h1,h3,h4,p,h2{
    text-align: center;
}
.details-container > h1{
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 100px;
}
.details-container > h3{
    font-size: 1.7rem;
    font-weight: 500;
}
.details-container > h4{
    color: gray;
    font-size: 1.2rem;
    font-weight: 400;
}
.details-container > p{
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(59, 59, 59);
    margin: 70px 0;
}

.details-container > .mail-box{
    background: linear-gradient(90deg, rgba(236,79,144,1) 0%, rgba(237,78,115,1) 100%, rgba(0,212,255,1) 100%);
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 10px;
}
.details-container > .mail-box > p{
    font-size: 1.3rem;
    color: #ffffff;
    padding: 30px 0;
}
.details-container > .mail-box > h2{
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
    font-size: 2.3rem;
    font-weight: 500;
}

/* Footer */

#footer-hero > p{
    margin: 50px 0;
    font-size: 1.1rem;
    color: gray;
}